<div class="hbd-name-card">
  <div class="primary-hdb-name-card">
    <svg
      width="292"
      height="115"
      viewBox="0 0 292 115"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_d_2_44)">
        <path
          d="M8 4L284 16.4158L267.527 95.1584L28.2027 103L8 4Z"
          fill="#2293FC"
        />
      </g>
      <defs>
        <filter
          id="filter0_d_2_44"
          x="0"
          y="0"
          width="292"
          height="115"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
            result="hardAlpha"
          />
          <feOffset dy="4" />
          <feGaussianBlur stdDeviation="4" />
          <feComposite in2="hardAlpha" operator="out" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_2_44"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_2_44"
            result="shape"
          />
        </filter>
      </defs>
    </svg>

    <span> Thuzin </span>
  </div>
  <div class="secundary-n1-hdb-name-card">
    <svg
      width="191"
      height="77"
      viewBox="0 0 191 77"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_d_2_47)">
        <path
          d="M4 8L187 27.9333V72.7067L20.7182 77L4 8Z"
          fill="url(#paint0_linear_2_47)"
        />
      </g>
      <defs>
        <filter
          id="filter0_d_2_47"
          x="0"
          y="0"
          width="191"
          height="77"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
            result="hardAlpha"
          />
          <feOffset dy="-4" />
          <feGaussianBlur stdDeviation="2" />
          <feComposite in2="hardAlpha" operator="out" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_2_47"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_2_47"
            result="shape"
          />
        </filter>
        <linearGradient
          id="paint0_linear_2_47"
          x1="34.8637"
          y1="32.5333"
          x2="157.171"
          y2="61.64"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#3179BC" />
          <stop offset="1" stop-color="#2092FB" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="secundary-n2-hdb-name-card">
    <svg
      width="148"
      height="51"
      viewBox="0 0 148 51"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_d_2_48)">
        <path
          d="M135.693 43L4 37.1434L11.86 6.36871e-07L144 6.36871e-07L135.693 43Z"
          fill="url(#paint0_linear_2_48)"
        />
      </g>
      <defs>
        <filter
          id="filter0_d_2_48"
          x="0"
          y="0"
          width="148"
          height="51"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
            result="hardAlpha"
          />
          <feOffset dy="4" />
          <feGaussianBlur stdDeviation="2" />
          <feComposite in2="hardAlpha" operator="out" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_2_48"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_2_48"
            result="shape"
          />
        </filter>
        <linearGradient
          id="paint0_linear_2_48"
          x1="131.711"
          y1="31.4809"
          x2="40.5894"
          y2="23.9737"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.265625" stop-color="#3179BC" />
          <stop offset="1" stop-color="#319CFF" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</div>
