<div class="hbd-card">
  <!-- Primary card -->
  <div class="primary-card-hbd">
    <svg
      width="600"
      height="194.05"
      viewBox="0 0 849 280"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_d_14_2)">
        <path
          d="M4 49.6066L845 0L756.209 272L29.1295 239.115L4 49.6066Z"
          fill="url(#paint0_linear_14_2)"
        />
      </g>
      <defs>
        <filter
          id="filter0_d_14_2"
          x="0"
          y="0"
          width="849"
          height="280"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
            result="hardAlpha"
          />
          <feOffset dy="4" />
          <feGaussianBlur stdDeviation="2" />
          <feComposite in2="hardAlpha" operator="out" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_14_2"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_14_2"
            result="shape"
          />
        </filter>
        <linearGradient
          id="paint0_linear_14_2"
          x1="151.5"
          y1="152.5"
          x2="662.5"
          y2="114"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#319CFF" />
          <stop offset="1" stop-color="#1D90FB" />
        </linearGradient>
      </defs>
    </svg>
    <span> PARABUEINS! </span>
  </div>

  <!-- n1 card -->
  <div class="secundary-n1-card-hbd">
    <svg
      width="339"
      height="47"
      viewBox="0 0 339 47"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_d_2_10)">
        <path d="M4 0L335 15.1667L10.4341 39L4 0Z" fill="#3179BC" />
      </g>
      <defs>
        <filter
          id="filter0_d_2_10"
          x="0"
          y="0"
          width="339"
          height="47"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
            result="hardAlpha"
          />
          <feOffset dy="4" />
          <feGaussianBlur stdDeviation="2" />
          <feComposite in2="hardAlpha" operator="out" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_2_10"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_2_10"
            result="shape"
          />
        </filter>
      </defs>
    </svg>
  </div>

  <!-- n2 card -->
  <div class="secundary-n2-card-hbd">
    <svg
      width="145"
      height="53"
      viewBox="0 0 145 53"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_d_2_12)">
        <path d="M4 10.0446L141 0L129.512 45L4 10.0446Z" fill="#319CFF" />
      </g>
      <defs>
        <filter
          id="filter0_d_2_12"
          x="0"
          y="0"
          width="145"
          height="53"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
            result="hardAlpha"
          />
          <feOffset dy="4" />
          <feGaussianBlur stdDeviation="3" />
          <feComposite in2="hardAlpha" operator="out" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_2_12"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_2_12"
            result="shape"
          />
        </filter>
      </defs>
    </svg>
  </div>
</div>
