.space-confetti {
  position: absolute;
  z-index: 500;

  width: 100vw;
  height: 100vh;
}

@keyframes boom {
  0% {
    left: 50vw;
    top: 35vh;
    opacity: 0;
  }
  39% {
    left: 50vw;
    top: 35vh;
    opacity: 0;
  }
  40% {
    left: 50vw;
    top: 35vh;
    opacity: 1;
    transform: scale(0.4);
  }
  96% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
