/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
}
